@import "tailwindcss";

/* Colors: https://coolors.co/587b7f-e0fbfc-e07a5f-011627-fbfef9 */
@theme {
  --font-serif: "Amiri";
  --font-sans: "PT Sans";
  --font-normal: "Noto Sans";
  --font-mono: "IBM Plex Mono";

  --color-pine-blue: #587b7fff;
  --color-light-cyan: #e0fbfcff;
  --color-burnt-peach: #e07a5fff;
  --color-ink-black: #011627ff;
  --color-porcelain: #fbfef9ff;
}
