@import "tailwindcss";

@theme {
  --font-serif: "Amiri";
  --font-sans: "Noto Sans";
  --font-mono: "IBM Plex Mono";
  --font-sub: "PT Sans";

  --color-golden-glow: #e0ca3cff;
  --color-harvest-orange: #e97720ff;
  --color-oxblood: #a10702ff;
  --color-alabaster-grey: #d3d4d9ff;
  --color-deep-twilight: #190e4fff;
  --color-prussian-blue: #03012cff;
  --color-ink-black: #01000fff;
  --color-honeydew: #e2fcefff;
  --color-porcelain: #fbfef9ff;
}
